@using TuristickaAgencija.Models
@{
    ViewBag.Title = "GotoviAranzmani";
}

<!DOCTYPE html>


<html>
<head>
    <style>

        body::after {
            background-image: url('../../Slike/Plaza7.jpg');
            content: "";
            opacity: 0.7;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: -1;
            background-size: cover;
            height: 100%;
        }

        td, tr {
            padding: 3px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div style="float:left;width:100%;">
        <h4>Aranzmani koji su u toku ili su zavrseni:</h4>
        <table style="background-color:#f5f5ef;width:100%;">

           

            @{
                List<Aranzman> sortirani = new List<Aranzman>();
                List<Smjestaj> smjestaji = new List<Smjestaj>();
                List<SmjestajnaJedinica> smjestajnejedinice = new List<SmjestajnaJedinica>();

                foreach (Aranzman a in ViewBag.aranzmani)
                {
                    if (a.DatumZavrsetkaPutovanja < DateTime.Now || (a.DatumPocetkaPutovanja < DateTime.Now && a.DatumZavrsetkaPutovanja > DateTime.Now))
                    {
                        sortirani.Add(a);
                    }

                }

                foreach (Smjestaj item in ViewBag.smjestaji)
                {
                    smjestaji.Add(item);
                }

                foreach (SmjestajnaJedinica item in ViewBag.SJedinice)
                {
                    smjestajnejedinice.Add(item);
                }




                foreach (Aranzman a in sortirani)
                {

                    for (int i = 0; i < smjestaji.Count; i++)
                    {
                        if (a.IdSmjestaja == smjestaji[i].IdSmjestaja)
                        {
                            for (int j = 0; j < smjestajnejedinice.Count; j++)
                            {
                                if (smjestaji[i].IdSmjestaja == smjestajnejedinice[j].PripadaSmjestaju)
                                {
                                    <tr style="border-collapse:collapse;border-width:1px;border-style:solid;border-color:black;">
                                        <td>
                                            <form action="~/Pocetna/sortirajPoDatumPocetkaZavrseni" method="post">
                                                <input type="submit" value="Datum pocetka" style="border:unset;background-color:transparent;" />
                                            </form>
                                            @a.DatumPocetkaPutovanja.ToString("dd/MM/yyyy");
                                        </td>
                                        <td>
                                            <form action="~/Pocetna/sortirajPoDatumKrajZavrseni" method="post">
                                                <input type="submit" value="Datum kraja" style="border:unset;background-color:transparent;" />
                                            </form>
                                            @a.DatumZavrsetkaPutovanja.ToString("dd/MM/yyyy");
                                        </td>

                                        <td>Dana<br />@{double b = (a.DatumZavrsetkaPutovanja - a.DatumPocetkaPutovanja.Date).TotalDays;}@b</td>
                                        <td>Slika <br /><img style="border-radius:50%;" alt="Avatar" width="50" height="50" src="@a.PosterAranzmana" /></td>
                                        <td>
                                            <form action="~/Pocetna/sortirajPoNazivuZavrseni" method="post">
                                                <input type="submit" value="Naziv aranzmana:" style="border:unset;background-color:transparent;" />
                                            </form>
                                            @a.NazivAranzmana
                                        </td>
                                        <td style="width:auto;">Cena<br /> @smjestajnejedinice[j].CenaSmestajneJedinice EUR</td>
                                        <td><a href="~/Pocetna/Prosledi?id=@a.IdAranzmana">Pogledaj</a></td>
                                    </tr>

                                }
                            }
                        }
                    }

                }

            }


        </table>
    </div>
    <div style="float:left;padding-top:5%;width:100%;">
        <form action="~/Pocetna/PretragaZavrsenih" method="post">
            <table style="border-collapse:collapse;border-width:1px;border-style:solid;border-color:black;background-color:#f5f5ef;">
                <tr>
                    <td>Naziv aranzmana:</td>
                    <td> <input type="text" name="NazivAranzmana" /></td>
                </tr>

                <tr>
                    <td>Tip prevoza:</td>
                    <td>
                        <input list="tipprevoza" name="Tip_prevoza" />
                        <datalist id="tipprevoza">
                            <option value="AUTOBUS"></option>
                            <option value="AVION"></option>
                            <option value="AUTOBUS_AVION"></option>
                            <option value="INDIVIDUALAN"></option>
                            <option value="OSTALO"></option>
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td>Tip aranzmana:</td>
                    <td>
                        <input list="tiparanzmana" name="Tip_aranzmana" />
                        <datalist id="tiparanzmana">
                            <option value="NOCENJE_SA_DORUCKOM"></option>
                            <option value="POLUPANSION"></option>
                            <option value="PUN_PANSION"></option>
                            <option value="ALL_INCLUSIVE"></option>
                            <option value="NAJAM_APARTMANA"></option>
                        </datalist>
                    </td>
                </tr>
                <tr>
                    <td>Minimalni datum pocetka putovanja:</td>
                    <td><input type="date" name="minPocetak" /></td>
                </tr>
                <tr>
                    <td>Maximalni datum pocetka putovanja:</td>
                    <td><input type="date" name="maxPocetak" /></td>
                </tr>
                <tr>
                    <td>Minimalni datum zavrsetka putovanja:</td>
                    <td><input type="date" name="minKraj" />></td>
                </tr>
                <tr>
                    <td>Maximalni datum zavrsetka putovanja:</td>
                    <td><input type="date" name="maxKraj" /></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Pretrazi" />
                    </td>
                </tr>
            </table>







        </form>

    </div>
</body>


</html>

